* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: #ffffff;
    --welcome-color: #1c3564;
}

/* @font-face {
    font-family: 'Bison';
    src: url('fonts/Bison-Bold(PersonalUse).ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
} */

@font-face {
    font-family: 'Milgran';
    src: url('Resource lit/fonts/milligram/MilgranRegular-jE0MG.ttf') format('truetype');
}

body {
    width: 100%;
    height: 100%;
    background-color: var(--white);
    font-family: bison;

}

:root {
    --nav-text-color: #0e2446;
}

header {
    padding: 15px 34px;
    display: flex;
    align-items: center;
}

.logo-container {
    margin-right: 97px;
}

.logo-image {
    width: 185px;
    height: 75px;
    padding-top: 20px;
}

.navbar-container {
    display: flex;
    width: 100%;
    height: 48px;
    align-items: center;
    font-size: 27px;
    justify-content: space-between;
    position: relative;
}

.navbar-item {
    display: flex;
    font-size: 29px;
    letter-spacing: .72px;
    justify-content: center;
    align-items: center;
}

.nav-item {
    list-style: none;
    padding: 0 12px;
}

.item:hover {
    border-bottom: 3px solid;
}


.nav-link {
    text-decoration: none;
    color: var(--nav-text-color);
    padding: 9px;
}

.nav-link span {
    padding-bottom: 5px;
}

.nav-btn {
    display: flex;
    position: absolute;
    right: 0;
}

.btn-item {
    padding: 4.08px 26.66px;
    background-color: #f05323;
    box-shadow: 0 0 20px #0000004f;
    text-decoration: none;
    color: #fff;
    border-radius: 14.5px;
    font-size: 27px;
    letter-spacing: .72px;
    line-height: 36px;
}

.mr1 {
    margin-left: 36px;
}

.banner-image {
    width: 100%;
    height: 660px;
    background-image: url('Resource lit/banner.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
}

.text-block {
    position: absolute;
    top: 0;
    width: 774px;
    background-color: #1c3564;
    color: #fff;
    border-radius: 20px;
    opacity: .9;
    font-family: 'Milgran';
    font-weight: 400;
    text-align: center;
    padding: 51px;
    margin: 60px 0 225px 21px;
    line-height: 56px;
}

.text-block p {
    font-size: 36px;
    padding-bottom: 14px;
}

.div {
    font-size: 59px;
    line-height: 1.4;
}

.welcome {
    background-color: var(--welcome-color);
    padding: 5.625rem 3.93rem;
    color: var(--white);
}

.center-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 -13px;
}

.info {
    width: 36.81rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    font-family: 'Quicksand';
    padding: 0 13.5px;
}

.wel-image img {
    padding: 0 13.5px;
    width: 589.075px;
}

.info-bold {
    font-size: 1.125rem;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 1.46rem;
}

.milgran {
    font-family: 'milgran';
    font-size: 2.313rem;
    font-weight: lighter;
    padding-top: 2.25rem;
}

.details {
    font-size: 1.575rem;
    line-height: 1.73rem;
    font-weight: 400;
    padding-top: 2.25rem;
}

.wel-bold {
    font-size: 2.13rem;
    font-weight: 700;
    line-height: 2.13rem;
    padding: 2.25rem 0;
}


.wel-btn {
    list-style: none;
    display: flex;
}

.wel-btn li {
    /* font-size: 2.025rem; */
    margin-top: .9rem;
    margin-right: 1.4rem;
    border-radius: 22.5px;
    padding: .95rem 2.25rem;
    box-shadow: 0 0 10px #0000004f, 0 0 20px #0000004f;
    font-family: 'Bison';
    text-align: left;
}

.wel-link {
    color: #fff;
    text-decoration: none;
    font-size: 27px;
    letter-spacing: .72px;
}

#quality-code {
    background: url('Resource lit/code-quality.png');
}

.text-center {
    text-align: center;
    padding: 90px 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.row {
    font-family: 'Quicksand';
    color: #212529;
    text-align: center;
    margin: 0 -13px;
}

.ask {
    font-size: 2.25rem;
    font-weight: lighter;
    font-family: 'milgran';
}

.title {
    font-size: 1.49rem;
    padding: 1.35rem 0;
    font-weight: bolder
}

.quality-details {
    font-size: 1.49rem;
    font-weight: 500;
    padding-bottom: 3.37rem;
}

.col-container {
    width: 513.263px;
    font-family: 'Quicksand';
    margin: 0 .84rem;
    padding: 0 13.5px;
}

.col {
    min-height: 388.125px;
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.8);
    justify-content: center;
    padding: 0 54px;
    margin: 0 3.6px;
    border-radius: 22.5px;
}

.desc {
    font-size: 1.46rem;
    color: #c96c68;
    font-weight: 700;
    line-height: 28.08px;
}

.sec {
    font-size: 1.46rem;
    padding-top: 2.103rem;
    font-weight: 600;
    line-height: 23.4px;
    color: rgb(33, 37, 41);
}

.ter {
    /* max-width: 500px; */
    font-size: 16.2px;
    font-weight: 500;
    line-height: 16.2px;
    color: #212529;
    padding-top: 33.66px;
}

.col-L {
    width: 65ch;
}

#why-litcoder {
    padding: 90px 18px;
    font-family: 'Quicksand';
    text-align: center;
    color: rgb(33, 37, 41);
}

.top-text {
    font-size: 27px;
    font-weight: 700;
    line-height: 27px;
}

.top-title {
    padding: 36px 200px 54px 210px;
    line-height: 50.4px;
    font-size: 36px;
    font-weight: 100;
    font-family: 'milgran';
}

.code-wrapper {
    display: flex;
    justify-content: center;
}

.code-block {
    height: 425px;
    padding: 0 13.5px;
    box-shadow: rgba(120, 120, 120, 0.19) -1px 1px 18px -3px;
    border-radius: 22.5px;
    color: rgb(33, 37, 41);
    font-size: 1.49rem;
    font-family: 'Quicksand';
    margin: 27px;
    padding: 45px 3.6px;
    text-wrap: wrap;
}

.image-block {
    width: 286.44px;
    height: 154px;
}

.code-header {
    font-weight: 700 !important;
    padding: 22.5px 0;
    text-wrap: wrap;
    /* width: 214px; */
}

.code-list {
    list-style: none;
    line-height: 28.08px;
    font-weight: 500 !important;
}

.long {
    height: 449px;
}

#litcoder-score {
    background: #f2f3f2;
    /* padding: 90px 18px; */
    /* padding: 90px 0;
    text-align: center; */
    font-family: 'Quicksand';
}

.center-center {
    padding: 90px 0;
    text-align: center;
}

.center-score {
    margin: 0 -13px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.score-row {
    color: #212529;
    padding: 0 13.5px;
}

.text {
    line-height: 36px;
    font-size: 36px;
    font-family: 'milgran' !important;
}

.score-title {
    font-size: 1.49rem;
    font-weight: 700;
    line-height: 23.94px;
    padding-top: 23.94px;
}

.score-details {
    padding: 36px 262px 54px 228px;
    line-height: 23.94px;
    font-weight: 500;
    font-size: 23.94px;
}

.score-block {
    width: 444px;
    /* height: 828px; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    text-wrap: wrap;
    white-space: normal;
    line-height: 18px;
    margin: 18px 36px;
    padding: 45px 9px;
    background-color: #fff;
    border-radius: 22.5px;
    box-shadow: rgba(120, 120, 120, 0.19) -1px 1px 18px -3px;
    color: #212529;
}

.block-head {
    font-size: 36px;
    font-weight: 700;
    line-height: 36px;
    padding: 27px;
}

.icon {
    padding: 0 72px;
    /* width: 426px;
    height: 189px; */
}

.title-block {
    font-size: 1.49rem;
    font-weight: 700;
    line-height: 1.79rem;
    padding: 36px;
}

.det {
    padding: 0 36px 43.2px;
    min-height: 252px;
    line-height: 1.42rem;
    font-weight: 500;
    font-size: 1.49rem;
}

.btn-block {
    border-radius: 16.74px;
    color: #fff;
    font-family: 'Bison';
    font-size: 36px;
    letter-spacing: .72px;
    line-height: 36px;
    margin: 0 4.339rem;
    padding: 12.6px 72px;
    text-decoration: none;
    box-shadow: 0 0 1px #0000004f, 0 0 20px #0000004f;
}

#litcoder-academy {
    background: url('Resource lit/litcoder-academy.jpg');
    color: #212529;
}

.top-row {
    margin: 0 -13px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: "Quicksand";
}

.content-content {
    padding: 0 13.5px;
}

.cont-top {
    font-family: 'Milgran' !important;
    font-size: 48.6px;
    font-weight: 100;
    line-height: 48.6px;
}

.cont-title {
    padding-top: 23.94px;
    line-height: 23.94px;
    font-weight: 700;
    font-size: 23.94px;
}

.cont-det {
    padding: 32.4px 36px;
    max-width: 900px;
    margin: 0 481.5px;
    line-height: 28.8px;
    font-weight: 500;
    font-size: 23.94px;
}

.cont-link {
    background: #f05323;
    border-radius: 16.74px;
    box-shadow: 0 0 1px #0000004f, 0 0 20px #0000004f;
    color: #fff;
    font-family: 'Bison' !important;
    font-size: 36px;
    letter-spacing: .72px;
    line-height: 36px;
    margin: auto;
    padding: 12.6px 32.4px;
    text-decoration: none;
}

#litcoder-ecosystem {
    color: #212529;

}

.echo-det {
    margin: 0 144px;
    max-width: 1260px;
}

.cont-flex {
    display: flex;
    justify-content: center;
}

.cont-item {
    max-width: 474.5px;
    padding: 0 13.5px;
}

.cont-head {
    font-size: 33.75px;
    font-weight: 700;
    line-height: 33.75px;
    padding-top: 3.6px;
    padding-bottom: 19.8px;
}

.item-det {
    font-size: 23.94px;
    font-weight: 500;
    line-height: 23.94px;
    padding: 0 54px;
}

#code-qua {
    display: flex;
    justify-content: space-between;
    background: #f2f3f2;
    color: #212529;
    font-family: 'Quicksand';
}

.image-qua {
    padding: 0 13.5px;
}

.image-qua img{
    width: 936px;
    height: 656.77px;
}

.qua-row {
    width: 100%;
    text-align: center;
    margin: 0 -13px;
}

.qua-head {
    font-family: 'milgran';
    font-size: 36px;
    font-weight: 100;
    line-height: 36px;
}

.qua-det {
    padding: 32.4px 36px 0;
    font-weight: 500;
}

.qua-det hr {
    border: 1px solid #000;
    max-width: 400px;
    margin-inline-end: 227.5px;
    margin-inline-start: 227.5px;
    margin-bottom: 32.4px;
    opacity: .25;
}

.qua-mid {
    max-width: 468px;
    padding: 18px 0;
    margin: 0 229.5px;
}

.main {
    font-size: 36px;
    font-weight: 500;
    letter-spacing: .8px;
    line-height: 43.2px;
}

.sub {
    color: #f78e1e;
    font-size: 23.94px;
    font-weight: 700;
    line-height: 28.728px;
    padding-top: 18px;
}

.qua-mid hr {
    margin: 32.4px 34px 0;
}

.sub-det {
    padding-top: 9px;
    font-size: 23.94px;
    font-weight: 500;
}

#query {
    color: #212529;
    background: #e7e7e7;
    padding: 90px 18px;
    font-family: 'Quicksand';
}

#myContactForm {
    display: flex;
    justify-content: center;
    width: 100%;
}

.form-container {
    display: flex;
    flex-wrap: wrap;
    margin: 18px 0;
    width: 100%;
    justify-content: center;
}

#query label {
    display: inline-block;
    font-size: 12.6px;
    line-height: 12.6px;
    padding-bottom: 16.2px;
}

.fname {
    padding: 14.4px;
    height: 57.68px;
    border-radius: 13.5px;
    border: 1px solid #ced4da;
    width: 602.98px;
}

.input-cont {
    text-align: left;

}

.input-cont div {
    padding-bottom: 13.5px;
}

.description {
    margin: 18px 0;
    padding: 0 13.5px;
    text-align: left;
    width: 629.98px;
    height: 18rem;
}

.description textarea {
    padding: 14.4px;
    width: 100%;
    height: 100%;
    border-radius: 13.5px;
    border: 1px solid #ced4da;
}

#c-code {
    width: 180.98px;
    height: 55px;
    font-size: 18px;
    font-family: 'Quicksand';
}

.c-code {
    display: flex;
    justify-content: space-between;
}

.phno {
    width: 398.98px;
}

table {
    margin: 18px 0;
}

table tr td {
    text-align: left;
    width: auto;
}

table tr {
    display: block;
}

.row2 {
    margin-top: 18px;
}

.row3 {
    margin-top: 18px;
}

.submit-btn button {
    margin-top: 36px;
    padding: 12.6px 72px;
    background: #f05323;
    box-shadow: 0 0 1px #0000004f, 0 0 20px #0000004f;
    font-family: 'Bison';
    font-size: 36px;
    border-radius: 16.74px;
    color: #fff;
    display: inline-block;
    letter-spacing: .72px;
    line-height: 36px;
    border: 0;
}

.faqs-center {
    padding: 18px 0;
    margin: 0 465.75px;
    text-align: left;
    list-style: none;
    font-family: 'Quicksand';

}

.faqs-center li {
    padding: 18px 4px 22.5px;
    font-size: 21.6px;
    color: #212529;
    font-weight: 700;
    border-bottom: 1px solid #000;
}


.faq-link {
    font-family: 'Quicksand';
    font: 18px;
    color: #f05323;
    text-decoration: none;
}

footer {
    padding-top: 68.6px;
    background-color: #f2f3f2;
}

#footer-sec {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: -260px;
}

.foot-item1 {
    text-align: left;
    padding: 0 13.5px;
}

.footer-logo img {
    width: 162px;
    height: 48.59px;
}

.footer-logo {
    padding-bottom: 1rem;
}

.footer-details {
    font-family: 'Quicksand';
    font-size: 14.4px;
    font-weight: 600;
    line-height: 21.6px;
}

.foot-list {
    display: flex;
    justify-content: center;
    position: relative;
    left: 81px;
}

.foot-item {
    list-style: none;
    padding: 0 13.5px;
    margin-top: 18px;
    font-family: 'Quicksand';
    color: #212529;
    width: 200.625px;
}


.foot-item li:first-child {
    padding-bottom: 34.4px;
    font-weight: 700;
    font-size: 15.84px;
}

.foot-item li:not(:first-child) {
    font-size: 14.4px;
    color: #000;
    padding-bottom: 19.8px;
    font-weight: 700;
}

.foot-link li {
    width: 18.89px;
    height: 21.59px;
    margin-right: 21.6px;
    padding-bottom: 19.8px;
}

.foot-link {
    display: flex;
    padding: 0;
}

.foot-link li:first-child {
    display: block;
    flex: none;
    order: 0;
}

.social {
    margin: 18px 0;
    font-family: 'Quicksand';
    font-size: 15.84px;
    font-weight: 700;

}

.so {
    position: relative;
    left: 104px;
}

#copyright {
    margin-top: 68.4px;
    padding: 0 228.5px;
    background-color: #e7e7e7;
}

#copyright ul {
    list-style: none;
    display: flex;
    padding: 22.5px 13.5px;
    color: #000;
    font-family: 'Quicksand';
    font-size: 11.88px;
    font-weight: 600;
    line-height: 11.88px;
    text-align: left;
}

#copyright ul li {
    margin-right: 57.6px;
}